repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # Use the ref you want to point at
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: name-tests-test
    -   id: requirements-txt-fixer

-   repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    -   id: black
